body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: rgb(64,64,64);
}

div#widget {
	position:relative;
	text-align: center;
	float:right;
	width:500px;
}

li.widget {
	display:inline;
	padding:10px;
}

a.widgetLink {
	text-decoration:none;
	color:#000;
}

a.widgetLink:hover {
	text-decoration:underline;
}

div#options {
	position:relative;
	top:-23px;
	left:317px;
	background-image:url("icons.png");
	background-position:-326px -52px;
	width:30px;
	height:30px;
	opacity:0.5;
}

div#options:hover {
	opacity:1.0;
}

button#signIn {
	position:relative;
	top:-52px;
	left:157px;
	background-color:rgb(69,134,245);
	color:#FFF;
	border: rgb(69,134,245) solid;
	border-radius:2px;
	font-weight:bold;
	padding:4px 7px 4px 7px;
}

button#signIn:hover {
	box-shadow:0 1px 0 rgba(0,0,0,0.15);
}

div#title {
	position:relative;
	top:175px;
}

img#theLogo {
	align:center;
	width:269px;
	margin-left:550px;
}

div#search {
	width:542px;
	border:1px solid rgba(0,0,0,0.15);
	margin:auto;
	margin-top:200px;
	position:relative;
}

div#search:hover {
	border:1px solid rgba(0,0,0,0.3);
}

div#search:active {
	border:1px solid rgb(66,133,244);
}

input#search {
	width:538px;
	height:24px;
	position:relative;
	border: 1px solid rgba(0,0,0,0.098);
}

img#mic {
	width:17px;
	height:23px;
	opacity:0.8;
	position:absolute;
	top:3px;
	right:4px;
}

img#mic:hover {
	opacity:1.0;
}

div#buttons {
	text-align:center;
	margin:auto;
	margin-top:7px;
}

button.buttons {
	font-family: Arial, sans-serif;
	font-weight:bold;
	font-size: 11px;
	background-color:rgb(243, 243, 243);
	border: 1px solid rgba(0,0,0,0.098);
	color:rgb(68,68,68);
	padding:7px;
	margin:7px;
}

button.buttons:hover {
	border: 1px solid rgba(0,0,0,0.1);
	color:rgb(34,34,34);
	box-shadow:0 1px 0 rgba(0,0,0,0.15);
}

p#translate {
	font:13px Arial,sans-serif;
}

a.translate {
	text-decoration:none;
	color:blue;
	padding:3px;
}

a.translate:hover {
	text-decoration:underline;
	color:blue;
}

footer {
	background-color:rgb(242,242,242);
	border: rgb(228,228,228) solid 1px;
	color:rgb(34,34,34);
	font: 13px Arial,sans-serif;
	width:99.3%;
	position:absolute;
	bottom:0;
}

div#left {
	float:left;
	position:relative;
	left:-30px;
}

div#right {
	float:right;
	position:relative;
	left:-30px;
}

footer li{
	display:inline;
	padding: 0 13px 0 13px;
}

a.inlineList:hover {
	text-decoration:underline;
}